mixin email-attach-title()
    div(class="email-attach-title")&attributes(attributes)
        !="\n"
        span(class="email-attach-title__icon")
        !="\n"
        span(class="email-attach-title__text") 4 Attachments
        !="\n"
    //END .email-attach
