doctype html
html(lang="en")

    head
        meta(charset="utf-8")
        meta(name="viewport", content="initial-scale=1.0, width=device-width")
        title Project42
        link(rel="stylesheet", href="stylesheets/index.min.css") 

    body(class="page")

        div(class="screen")

            header

            include ../../_blocks/previews/previews.pug
            +previews()(class="screen__viewport")

        script(src="scripts/modernizr/modernizr-custom.js")
        script(src="scripts/svg4everybody/svg4everybody.min.js")
        script(src="scripts/common.js")
