<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title>Project42</title>
    <link rel="stylesheet" href="stylesheets/index.min.css">
</head>

<body class="page">
    <div class="screen">
        <header></header>
        <section class="previews screen__viewport">
            <h2 class="previews__title">Inbox</h2>
            <form class="search-box previews__search">
                <label class="search-box__control">
                    <span class="search-box__label">Search</span>
                    <input class="search-box__field" type="text" placeholder="Search">
                    <span class="search-box__icon"></span>
                </label>
            </form>
            <!--END .search-box-->
            <div class="previews__content">
                <button class="email-preview is-active previews__item" type="button">
                    <div class="email-preview__container">
                        <div class="person email-preview__person">
                            <picture class="image-box person__avatar">
                                <img class="image-box__image" srcset="images/persons/sam-miller@1x.jpg 1x, images/persons/sam-miller@2x.jpg 2x" src="images/persons/sam-miller@1x.jpg" alt="Sam Miller">
                            </picture>
                            <!--END. image-box-->
                            <div class="person__name">Sam Miller</div>
                            <div class="person__subject">Portfolio</div>
                            <time class="person__time" datetime="2020-03-02T20:45">Today 08:45 PM</time>
                        </div>
                        <!--END .person-->
                        <div class="email-preview__content">
                            <div class="email-preview__text">
                                <p>Stop wasting time looking for files buried in folders. Visually organize all your assets in one place</p>
                            </div>
                            <div class="email-attach-title email-preview__attach">
                                <span class="email-attach-title__icon"></span>
                                <span class="email-attach-title__text">4 Attachments</span>
                            </div>
                            <!--END .email-attach-->
                        </div>
                    </div>
                </button>
                <!--END .email-preview-->
                <button class="email-preview previews__item" type="button">
                    <div class="email-preview__container">
                        <div class="person email-preview__person">
                            <picture class="image-box person__avatar">
                                <img class="image-box__image" srcset="images/persons/lily-jones@1x.jpg 1x, images/persons/lily-jones@2x.jpg 2x" src="images/persons/lily-jones@1x.jpg" alt="Lily Jones">
                            </picture>
                            <!--END. image-box-->
                            <div class="person__name">Lily Jones</div>
                            <div class="person__subject">Invitations</div>
                            <time class="person__time" datetime="2020-03-01T13:45">Yesterday 01:11 PM</time>
                        </div>
                        <!--END .person-->
                        <div class="email-preview__content">
                            <div class="email-preview__text">
                                <p>Its always a pleasure to have you all at my birthday parties. So, please dont be late for this one.</p>
                            </div>
                        </div>
                    </div>
                </button>
                <!--END .email-preview-->
                <button class="email-preview previews__item" type="button">
                    <div class="email-preview__container">
                        <div class="person email-preview__person">
                            <picture class="image-box person__avatar">
                                <img class="image-box__image" srcset="images/persons/smith@1x.jpg 1x, images/persons/smith@2x.jpg 2x" src="images/persons/smith@1x.jpg" alt="Smith">
                            </picture>
                            <!--END. image-box-->
                            <div class="person__name">Smith </div>
                            <div class="person__subject">Assingment Submission</div>
                            <time class="person__time" datetime="2020-02-24T18:45">Monday 06:45 PM</time>
                        </div>
                        <!--END .person-->
                        <div class="email-preview__content">
                            <div class="email-preview__text">
                                <p>If you want to set up an assignment with additional reviews, you can enable Moderated Grading.</p>
                            </div>
                        </div>
                    </div>
                </button>
                <!--END .email-preview-->
                <button class="email-preview previews__item" type="button">
                    <div class="email-preview__container">
                        <div class="person email-preview__person">
                            <picture class="image-box person__avatar">
                                <img class="image-box__image" srcset="images/persons/patrick@1x.jpg 1x, images/persons/patrick@2x.jpg 2x" src="images/persons/patrick@1x.jpg" alt="Patrick">
                            </picture>
                            <!--END. image-box-->
                            <div class="person__name">Patrick </div>
                            <div class="person__subject">Interview Scheduled hanks for applying for UI/UX</div>
                            <time class="person__time" datetime="2020-02-24T15:15">Monday 05:15 PM</time>
                        </div>
                        <!--END .person-->
                        <div class="email-preview__content">
                            <div class="email-preview__text">
                                <p>Hi Mike, thanks for applying for UI/UX Designer. We are reviewing resume's and will follow up in the thanks for applying for UI/UX Designer. We are reviewing resume's and will follow up in the.</p>
                            </div>
                        </div>
                    </div>
                </button>
                <!--END .email-preview-->
            </div>
        </section>
        <!--END .previews-->
    </div>
    <script src="scripts/modernizr/modernizr-custom.js"></script>
    <script src="scripts/svg4everybody/svg4everybody.min.js"></script>
    <script src="scripts/common.js"></script>
</body>

</html>
