@import "../image-box/image-box.css";
@import "../text-ellipsis/text-ellipsis.css";

.person {
    display: grid;
    grid-template-columns: 70px 1fr auto;
    grid-column-gap: 20px;
    font-size: 20px;
    line-height: 1.35;

    &__avatar {
        display: block;
        width: 70px;
        height: 70px;
        grid-column: 1;
        grid-row: 1 / span 2;
        background-color: tomato;
        border-radius: 50%;
        overflow: hidden;
    }

    &__name {
        margin-top: 6px;
        font-weight: 700;
        @include text-ellipsis;
    }

    &__time {
        margin-top: 12px;
        font-weight: 700;
        font-size: 14px;
        text-align: right;
    }

    &__subject {
        margin-top: -9px;
        grid-column: 2 / span 2;
        grid-row: 2;
        @include text-ellipsis;
    }
}
